
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.wrapper {
    width: auto;
    padding: 3px;
    width: 240px;
    height: 145px;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #df1d42;
    background-color:#df1d42;
    margin-top: 500px;
    margin-left: calc(100vw /2 - 150px);
}
.btn-group {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-group button {
    width: 40px;
    border: none;
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    transition: 1200ms transform, 300ms opacity;
    border-radius: 35px;
}

button img {
    transition: 1000ms all;
}

.btn-group button.active {
    transform: scale(1.5);
    /* display: block; */
}

.btn1 {
    background-color: white;
}

.btn2 {
    background-color: white;}

.btn3 {
    background-color: white;}

h3 {
    
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Poppins';
    color: white;
}